html {
    border-left: 5px solid lightgray;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px; 
}

header, main, footer {
    padding: 1rem 2rem;
    font-family: sans-serif;
}

h1 {
    color: tomato;
    font-size: 50px;
    font-family: sans-serif;
}


img {
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between; 
}

nav ul li {
    display: inline;
}

nav a {
    color: lightgray;
}

footer nav a {
    color: tomato;
}


main article h2 {
    font-size: 2em;
    font-family: sans-serif;
}

main article a {
    float: right;
    font-weight: bold;
    color: tomato;
}

main article {
    margin-bottom: 4rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2rem;
}

main article p::first-letter {
    color: lightgray;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
}

footer p {
    color: lightgray;
}

.date {
    font-size: 40px;
    color: grey;
    font-family: sans-serif;
}